section {
  border: 12px solid #75597d;
  border-radius: 35px;

  box-shadow: 5px 5px 5px #75597d;
  max-width: 800px;
  margin: 30px auto 0;
  font-family: "Inconsolata", cursive;
  padding: 15px;
  background: linear-gradient(
    104.3deg,
    rgb(253, 243, 243) 10.9%,
    rgb(248, 231, 231) 27.8%,
    rgb(160, 112, 161) 101.7%
  );
}

h1 {
  padding: 30px;
  padding-left: 50px;
}
