section {
  box-shadow: 5px 5px 5px grey;
  max-width: 400px;
  border-radius: 4px;
  margin: 30px auto 0;
  font-family: "Inconsolata", cursive;
  padding: 20px;
  background: #eeeeee;
  text-align: center;
}

.App footer {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 10px;
}
footer a {
  color: #77628c;
}
