.Forecast {
  text-align: center;
  padding-left: 15px;
  padding-right: 8px;
  margin-bottom: 10px;
}
.Forecast canvas {
  padding-top: 10px;
}

.col {
  background: #acc6aa;
  margin-right: 12px;
  box-shadow: 3px 3px 3px #77628c;
  opacity: 0.9;
  border-radius: 2px;
}
.col:hover {
  background: #71a0a5;
}

.Forecast-min {
  opacity: 0.6;
}
