.Forecast {
  text-align: center;
  padding-left: 15px;
  padding-right: 10px;
}
.Forecast canvas {
  padding-top: 10px;
}

.col {
  background: #acc6aa;
  margin-right: 8px;
  box-shadow: 3px 3px 3px #77628c;
}
