.Search {
  padding-left: 30px;
}
.search-input {
  background-color: #d4a2be;
  border: 8px solid #d4a2be;
  border-radius: 4px;
  font-size: 20px;

  box-shadow: 3px 3px 3px #75597d;
}
.search-input:focus-visible {
  outline: none;
}

.button {
  color: #f8e4dd;
  border: 8px solid #75597d;
  background-color: #75597d;
  font-size: 20px;
  box-shadow: 3px 3px 3px #75597d;
  transition: all 300ms ease-in-out;
  margin-left: 8px;
}
.button:hover {
  background: linear-gradient(
    104.3deg,
    rgb(253, 243, 243) 10.9%,
    rgb(248, 231, 231) 27.8%,
    rgb(160, 112, 161) 101.7%
  );
  color: #75597d;
  border: none;
}

.city {
  padding-top: 30px;
}
.city,
.today,
.time,
.temperature,
.humidity,
.wind-speed,
.description {
  padding-left: 30px;
}

.description {
  text-transform: capitalize;
  color: #75597d;
  font-weight: 800px;
}
.wind-speed {
  padding-bottom: 20px;
}
